.topics-root {
  padding-top: calc(var(--MuiDocs-header-height));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr));
  grid-auto-flow: dense;
  gap: 0px;
}

@media screen and (max-width: 600px) {
  .topics-root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
  }
}
